/* p {
    animation-duration: .5s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      translate: 2 0;
      scale: 90% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  } */