@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(-5em);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .project{
    animation: fadeIn .5s ease-out;
  }

  header .social-img:hover{
    filter: invert(.2);
  }
